<section>
  {% unless page.hide_bio %}
  <h1>Cristiano Betta</h1>
  <p>London based software engineer, event organiser, and all round geek. Organises events at <a href='http://geeksoflondon.com'>Geeks of London</a> and used to work at <a href='http://emberads.com'>EmberAds</a>. Likes to code in Ruby, Javascript, and HTML.</p>
  {% endunless %}

  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
