<nav role="navigation">
  {% unless page.header == false %}
  <form action="{{ site.simple_search }}" method="get">
    <fieldset role="search">
      <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
      <input class="search" type="text" name="q" results="0" placeholder="Search"/>
    </fieldset>
  </form>
  {% endunless %}

  <ul class="main-navigation">
    {% unless page.header == false %}
    <li><a href='/'>Home</a></li>
    {% endunless %}
    <li><a target="_blank" href='http://resume.linkedinlabs.com/tuzpn3khk'>CV</a></li>
    <li><a href='/skills' class='{% active /skills %}'>Skills</a></li>
    <li><a href='/code' class='{% active /code %}'>Code</a></li>
    <li><a href='/blog' class='{% active /blog %}'>Blog</a></li>
    <li><a href='mailto:hi@cristianobetta.com'>Contact</a></li>
  </ul>
</nav>